In [1]:
import os
import numpy as np
import pandas as pd

In [9]:
sample_id = 'HG00533'

online_candidate_res_root_dir=r'/zfssz2/ST_MCHRI/BIGDATA/PROJECT/NIPT_CNV/f_cnv_out/online/1KGP/'+sample_id+'/cnv_call'
online_re_fname = 'Analysis{}_1000_200_out_cnv.csv'.format(sample_id)
online_fn = os.path.join(online_candidate_res_root_dir, online_re_fname)

in_out_pred = pd.read_csv(online_fn, sep='\t')
in_out_pred.head()

,POS_S,POS_E,LEN,P_NEU,P_DEL,P_DUP,PRED_L,ID,POS,END,...,INTERVAL_LOWER,INTERVAL_UPPER,INTERVAL_LEN,UNION_LEN,CHROM,TRUE_L,CENTOR_INTER_LEN,SUPDUP_INTER_LEN,CENT_CALLLEN_RATIO,SUPDUP_CALLLEN_RATIO
0,151400,151600,200,0.116070,0.883346,0.000584,1,NaN,NaN,NaN,...,-1,-1,-1,-1,chr1,0,0,0,0.0,0.0
1,164600,164800,200,0.270108,0.011905,0.717987,2,NaN,NaN,NaN,...,-1,-1,-1,-1,chr1,0,0,0,0.0,0.0
2,166600,167600,1000,0.217168,0.397399,0.385434,1,NaN,NaN,NaN,...,-1,-1,-1,-1,chr1,0,0,0,0.0,0.0
3,362168,362968,800,0.396992,0.201133,0.401874,2,NaN,NaN,NaN,...,-1,-1,-1,-1,chr1,0,0,0,0.0,0.0
4,375568,376568,1000,0.413482,0.004589,0.581928,2,NaN,NaN,NaN,...,-1,-1,-1,-1,chr1,0,0,0,0.0,0.0

In [17]:
gtruth_cnv_base_dir = '/zfssz6/ST_MCHRI/BIGDATA/P18Z10200N0124/NIPT_CNV/NIPT_CNV/1k_cnvs_lab_feat'
gtruth_fn = os.path.join(gtruth_cnv_base_dir, 'ALL.wgs.mergedSV.v8.20130502.svs.genotypes.GRCh38.vcf.' +
        sample_id + '.cnvs.labels')
gtruth_cnv_pd = pd.read_csv(gtruth_fn, sep='\t')
# gtruth_cnv_pd = gtruth_cnv_pd[gtruth_cnv_pd['CHROM']==chr_id]
print('the total number of cnvs for sample {} is {}'.format(sample_id, gtruth_cnv_pd.shape[0]))

true_del_df = gtruth_cnv_pd[gtruth_cnv_pd['ADJTYPE']=='DEL']
true_del_len_arr = true_del_df['SVLEN'].values
print('>'* 4 +'where DEL is {}, length range {}-{}, median: {}'.format(
    true_del_df.shape[0], min(true_del_len_arr), max(true_del_len_arr), np.median(true_del_len_arr)))
true_dup_df = gtruth_cnv_pd[gtruth_cnv_pd['ADJTYPE']=='DUP']
true_dup_len_arr = true_dup_df['SVLEN'].values
print('>'* 4 +'where DUP is {}, length range {}-{}, median: {}'.format(
    true_dup_df.shape[0], min(true_dup_len_arr), max(true_dup_len_arr), np.median(true_dup_len_arr)))

# check truth cnv labels with unpredective region
true_unpredictive_df = in_out_pred[(in_out_pred['PRED_L']==-1) & (~in_out_pred['ID'].isnull())]
uppred_true_lab_lst = np.unique(true_unpredictive_df['ID'].values)
# check all truth cnv labels
true_cnv_df = online_df[(in_out_pred['PRED_L']!=-1) &(~in_out_pred['ID'].isnull())]
pred_true_lab_lst = np.unique(true_cnv_df['ID'].values)

unpred_cnvs = set(uppred_true_lab_lst) - set(pred_true_lab_lst)
unpred_dict = dict()
unpred_dict['DEL']=[]
unpred_dict['DUP']=[]
for i in unpred_cnvs:
    i_lbl = gtruth_cnv_pd.loc[gtruth_cnv_pd['ID']==i, 'ADJTYPE'].values[0]
    unpred_dict[i_lbl].append(i)
print('CNVs that are located at non-read region: ',unpred_dict)

the total number of cnvs for sample HG00533 is 1631
>>>>where DEL is 1506, length range 50-270689, median: 618.5
>>>>where DUP is 125, length range 3083-160657, median: 26455.0
CNVs that are located at non-read region:  {'DEL': [], 'DUP': []}

In [27]:
out_pred=in_out_pred[in_out_pred['LEN']>=1000]
# out_pred = in_out_pred

In [28]:
out_pred.shape

(41685, 25)

In [ ]:
out_pred.loc[(np.abs(out_pred['P_DUP'] - out_pred['P_NEU']) < 0.1) &
                    (out_pred['PRED_L'] == 2), 'PRED_L'] = 0
out_pred.loc[(np.abs(out_pred['P_DEL'] - out_pred['P_NEU']) < 0.1) &
                    (out_pred['PRED_L'] == 1), 'PRED_L'] = 0
    # 2 reduce fp
tmp_df = out_pred[['P_NEU', 'P_DEL', 'P_DUP']]
tmp_df.columns = ['0', '1', '2']
out_pred['PRED_P_L'] = tmp_df.idxmax(axis=1, skipna=True)
out_pred['PRED_P_L'] = out_pred['PRED_P_L'].astype(int)
out_pred.loc[(out_pred['PRED_L'] != 0) & (out_pred['PRED_P_L'] == 0), 'PRED_L'] = 0

In [29]:
false_dup_df = out_pred[(out_pred['PRED_L']==2) & (out_pred['ID'].isnull())]
false_del_df = out_pred[(out_pred['PRED_L']==1) & (out_pred['ID'].isnull())]
false_neg_del_df = out_pred[(out_pred['PRED_L']==0) & (out_pred['TRUE_L']==1)]
false_neg_dup_df = out_pred[(out_pred['PRED_L']==0) & (out_pred['TRUE_L']==2)]
tp_del_df = out_pred[(out_pred['PRED_L']==1) & (out_pred['TRUE_L']==1)]
tp_dup_df = out_pred[(out_pred['PRED_L']==2) & (out_pred['TRUE_L']==2)]

In [30]:
false_dup_df.shape, false_del_df.shape, false_neg_del_df.shape, false_neg_dup_df.shape

((4208, 25), (35615, 25), (568, 25), (540, 25))

In [31]:
tp_del_df.shape, tp_dup_df.shape

((295, 25), (387, 25))

In [32]:
tp_dup_df.head()

,POS_S,POS_E,LEN,P_NEU,P_DEL,P_DUP,PRED_L,ID,POS,END,...,INTERVAL_LOWER,INTERVAL_UPPER,INTERVAL_LEN,UNION_LEN,CHROM,TRUE_L,CENTOR_INTER_LEN,SUPDUP_INTER_LEN,CENT_CALLLEN_RATIO,SUPDUP_CALLLEN_RATIO
611,16700984,16702184,1200,0.104782,0.000547,0.894671,2,DUP_gs_CNV_1_17026064_17052112,16699569.0,16725617.0,...,16700984,16702184,1200,26048,chr1,2,0,0,0.0,0.0
617,16707784,16709384,1600,0.209360,0.002787,0.787853,2,DUP_gs_CNV_1_17026064_17052112,16699569.0,16725617.0,...,16707784,16709384,1600,26048,chr1,2,0,0,0.0,0.0
618,16709784,16711784,2000,0.328354,0.006301,0.665344,2,DUP_gs_CNV_1_17026064_17052112,16699569.0,16725617.0,...,16709784,16711784,2000,26048,chr1,2,0,0,0.0,0.0
619,16712384,16713784,1400,0.165499,0.000035,0.834467,2,DUP_gs_CNV_1_17026064_17052112,16699569.0,16725617.0,...,16712384,16713784,1400,26048,chr1,2,0,0,0.0,0.0
621,16714784,16720784,6000,0.132931,0.027485,0.839584,2,DUP_gs_CNV_1_17026064_17052112,16699569.0,16725617.0,...,16714784,16720784,6000,26048,chr1,2,0,0,0.0,0.0